<nav class="mobile-menu" id="mobileMenu" aria-hidden="true">
  <button class="mobile-menu__close" id="mobileMenuClose" aria-label="Закрити">✕</button>
  <a href="/index.html" class="mobile-menu__link">Головна</a>
  <a href="/english_school.html#about" class="mobile-menu__link">Про школу</a>
  <a href="/english_school.html#courses" class="mobile-menu__link">Наші курси</a>
  <a href="/english_school.html#methods" class="mobile-menu__link">Види навчання</a>
  <a href="/english_school.html#rates" class="mobile-menu__link">Ціни</a>
  <a href="/english_school.html#teachers" class="mobile-menu__link">Викладачі</a>
  <a href="/english_school.html#questions" class="mobile-menu__link">Питання</a>
</nav>
